<!--
Rails views can simply contain static HTML. This means we can begin customizing the Home and Help pages even with no knowledge of Rails
-->
<% provide(:title, "Contact") %>
<h1>Contact</h1>
<p>
  Contact the Ruby on Rails Tutorial about the sample app at the
  <a href="http://www.railstutorial.org/contact">contact page</a>.
</p>
